<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expecto.VisualStudio.TestAdapter" version="8.0.0" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="16.8.3" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="NuGet.Frameworks" version="5.8.0+830c8be45dbbccd411ecf6080abff0c2c98079cf" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Collections.Immutable" version="5.0.0" />
  <package id="System.Memory" version="4.5.4" />
  <package id="System.Numerics.Vectors" version="4.5.0" />
  <package id="System.Reflection.Metadata" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" />
</packages>