framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget TaskBuilder.fs
nuget WindowsAzure.Storage  
nuget Argu
nuget FsPickler

nuget Expecto
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk